.idea/
.vscode/
.nvim.json
*.iml
.DS_Store
site/
temp.*.json
.run
_
cmd/__debug*
./zenbpm
partition-*/
sqlite-test-data-*/
cmd/zenbpm/__debug_*
bin
node-*
zen_bpm_node_*
cover.out

.claude
docs/docusaurus/
dist/
.release-env
